// ----- Variables

$sectionHeading: 24px;
$bannerHeading: 40px;
$tealCol: #28a06c;
$navyCol: #0a1f2d;
$whiteCol: #ffffff;

// ----- Mixins

@mixin banner {
  width: 100%;
  position: relative;
  color: $whiteCol;

  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  span {
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  span.title {
    font-weight: normal;
    margin-bottom: 30px;
  }
}


// ----- Styles

#menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  text-align: center;

  li {
    background-color: $tealCol;
    padding: 5px;
    display: inline-block;
  }

  li:nth-child(even) {
    background-color: $navyCol;
  }

  a {
    color: $whiteCol !important;
    text-decoration: none;
  }
}

.show-menu, #show-menu {
  display: none;
}

.lead-banner {
  @include banner;
  text-align: right;
  span {
    margin-right: 50px;
  }
}

.lessons-banner {
  @include banner;
  span {
    margin-left: 50px;
  }
  ul {
    margin-left: 50px;
  }
  li {
    text-transform: uppercase;
    margin: 25px 0;
  }
}


// ----- Media Queries

@media screen and (max-width: 768px) {
  #menu {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 450px) {
  #menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
